# Welcome to the First Scratchbook
---

Here my goal will be to acquire and prepare the data!

End goal: predict sales of video games

In [1]:
#imports
import pandas as pd
import numpy as np

In [2]:
#bring in our csv
df = pd.read_csv('data/vgsales12-4-2019.csv')

In [3]:
#check the shape
df.shape

(55792, 16)

In [4]:
#how does it look?
df.head()

,Rank,Name,Genre,ESRB_Rating,Platform,Publisher,Developer,Critic_Score,User_Score,Total_Shipped,Global_Sales,NA_Sales,PAL_Sales,JP_Sales,Other_Sales,Year
0,1,Wii Sports,Sports,E,Wii,Nintendo,Nintendo EAD,7.7,NaN,82.86,NaN,NaN,NaN,NaN,NaN,2006.0
1,2,Super Mario Bros.,Platform,NaN,NES,Nintendo,Nintendo EAD,10.0,NaN,40.24,NaN,NaN,NaN,NaN,NaN,1985.0
2,3,Mario Kart Wii,Racing,E,Wii,Nintendo,Nintendo EAD,8.2,9.1,37.14,NaN,NaN,NaN,NaN,NaN,2008.0
3,4,PlayerUnknown's Battlegrounds,Shooter,NaN,PC,PUBG Corporation,PUBG Corporation,NaN,NaN,36.60,NaN,NaN,NaN,NaN,NaN,2017.0
4,5,Wii Sports Resort,Sports,E,Wii,Nintendo,Nintendo EAD,8.0,8.8,33.09,NaN,NaN,NaN,NaN,NaN,2009.0

In [5]:
#I'm going to lowercase all of the columns
df.columns= df.columns.str.strip().str.lower()
df.columns

Index(['rank', 'name', 'genre', 'esrb_rating', 'platform', 'publisher',
       'developer', 'critic_score', 'user_score', 'total_shipped',
       'global_sales', 'na_sales', 'pal_sales', 'jp_sales', 'other_sales',
       'year'],
      dtype='object')

In [6]:
#already noticing a lot of null values. 
df.isna().sum()

rank                 0
name                 0
genre                0
esrb_rating      32169
platform             0
publisher            0
developer           17
critic_score     49256
user_score       55457
total_shipped    53965
global_sales     36377
na_sales         42828
pal_sales        42603
jp_sales         48749
other_sales      40270
year               979
dtype: int64

In [7]:
#fill nulls in global_sales with 0
df['global_sales'] = df['global_sales'].fillna(0)

In [8]:
#fill nulls in total_shipped with 0
df['total_shipped'] = df['total_shipped'].fillna(0)

In [9]:
#quality assurance
df

,rank,name,genre,esrb_rating,platform,publisher,developer,critic_score,user_score,total_shipped,global_sales,na_sales,pal_sales,jp_sales,other_sales,year
0,1,Wii Sports,Sports,E,Wii,Nintendo,Nintendo EAD,7.7,NaN,82.86,0.0,NaN,NaN,NaN,NaN,2006.0
1,2,Super Mario Bros.,Platform,NaN,NES,Nintendo,Nintendo EAD,10.0,NaN,40.24,0.0,NaN,NaN,NaN,NaN,1985.0
2,3,Mario Kart Wii,Racing,E,Wii,Nintendo,Nintendo EAD,8.2,9.1,37.14,0.0,NaN,NaN,NaN,NaN,2008.0
3,4,PlayerUnknown's Battlegrounds,Shooter,NaN,PC,PUBG Corporation,PUBG Corporation,NaN,NaN,36.60,0.0,NaN,NaN,NaN,NaN,2017.0
4,5,Wii Sports Resort,Sports,E,Wii,Nintendo,Nintendo EAD,8.0,8.8,33.09,0.0,NaN,NaN,NaN,NaN,2009.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55787,55788,Indivisible,Role-Playing,NaN,PC,505 Games,Lab Zero Games,NaN,NaN,0.00,0.0,NaN,NaN,NaN,NaN,2019.0
55788,55789,Lost Ember,Adventure,RP,PC,Mooneye Studios,Mooneye Studios,NaN,NaN,0.00,0.0,NaN,NaN,NaN,NaN,2019.0
55789,55790,Lost Ember,Adventure,RP,PS4,Mooneye Studios,Mooneye Studios,NaN,NaN,0.00,0.0,NaN,NaN,NaN,NaN,2019.0
55790,55791,Lost Ember,Adventure,RP,XOne,Mooneye Studios,Mooneye Studios,NaN,NaN,0.00,0.0,NaN,NaN,NaN,NaN,2019.0
55791,55792,Falcon Age,Action-Adventure,NaN,PS4,Unknown,Outerloop Games,NaN,NaN,0.00,0.0,NaN,NaN,NaN,NaN,NaN

In [10]:
#create a total_sales column which is total_shipped plus global_sales
df['total_sales'] = df['total_shipped'] + df['global_sales']

In [11]:
#let's see our games with a total_sales of 0
df.loc[df.total_sales==0]

,rank,name,genre,esrb_rating,platform,publisher,developer,critic_score,user_score,total_shipped,global_sales,na_sales,pal_sales,jp_sales,other_sales,year,total_sales
19862,19863,Nari Kids Park: Ultraman R/B,Action,NaN,NS,Bandai Namco Games,Bandai Namco Games,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,2018.0,0.0
19863,19864,Nekketsu Inou Bukatsu: Trigger Kiss,Adventure,NaN,PSV,Idea Factory,Idea Factory,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,2014.0,0.0
19864,19865,Rampage Puzzle Attack,Puzzle,E,GBA,Midway Games,Ninai Games,NaN,NaN,0.0,0.0,0.0,0.0,NaN,0.0,2001.0,0.0
19865,19866,Duke Nukem Trilogy: Critical Mass,Shooter,T,PSP,Unknown,FrontLine Studios,NaN,NaN,0.0,0.0,0.0,NaN,NaN,0.0,2001.0,0.0
19866,19867,The World of Golden Eggs: Nori Nori Uta Dekich...,Puzzle,NaN,DS,AQ Interactive,AQ Interactive,NaN,NaN,0.0,0.0,NaN,NaN,0.0,NaN,2009.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55787,55788,Indivisible,Role-Playing,NaN,PC,505 Games,Lab Zero Games,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,2019.0,0.0
55788,55789,Lost Ember,Adventure,RP,PC,Mooneye Studios,Mooneye Studios,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,2019.0,0.0
55789,55790,Lost Ember,Adventure,RP,PS4,Mooneye Studios,Mooneye Studios,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,2019.0,0.0
55790,55791,Lost Ember,Adventure,RP,XOne,Mooneye Studios,Mooneye Studios,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,2019.0,0.0
55791,55792,Falcon Age,Action-Adventure,NaN,PS4,Unknown,Outerloop Games,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0

Since I've never heard of these games before, I won't drop them just yet. Maybe there's something in common with them that causes their sales to be 0.

In [12]:
#ok, let's drop the columns we used to make total_sales, we won't need them anymore (this time)
df.isna().sum()

rank                 0
name                 0
genre                0
esrb_rating      32169
platform             0
publisher            0
developer           17
critic_score     49256
user_score       55457
total_shipped        0
global_sales         0
na_sales         42828
pal_sales        42603
jp_sales         48749
other_sales      40270
year               979
total_sales          0
dtype: int64

In [13]:
#drop the columns
df = df.drop(columns=['total_shipped','global_sales','na_sales','pal_sales','jp_sales','other_sales'])

In [14]:
#check our remaining columns
df.columns

Index(['rank', 'name', 'genre', 'esrb_rating', 'platform', 'publisher',
       'developer', 'critic_score', 'user_score', 'year', 'total_sales'],
      dtype='object')

In [15]:
#okay let's go back to null handling
df.isna().sum()

rank                0
name                0
genre               0
esrb_rating     32169
platform            0
publisher           0
developer          17
critic_score    49256
user_score      55457
year              979
total_sales         0
dtype: int64

In [16]:
#esrb ratings
df.esrb_rating.value_counts()

E      10811
T       6157
M       3314
E10     2897
RP       368
EC        54
AO        19
KA         3
Name: esrb_rating, dtype: int64

In [17]:
#well I'll just say the nulls are NR for not rated
df['esrb_rating'] = df.esrb_rating.fillna('NR')

In [18]:
#onto the next null...
df.isna().sum()

rank                0
name                0
genre               0
esrb_rating         0
platform            0
publisher           0
developer          17
critic_score    49256
user_score      55457
year              979
total_sales         0
dtype: int64

In [19]:
#there's an unknown entry already?
df.developer.value_counts()

Unknown             4756
Konami               911
Sega                 817
Capcom               684
Namco                425
                    ...
Kevin Ryan             1
azimut team            1
Huehnerschaender       1
Vitei Inc.             1
Gametech               1
Name: developer, Length: 8064, dtype: int64

In [20]:
#I'm going to look these games up
df.loc[df.developer.isna()]

,rank,name,genre,esrb_rating,platform,publisher,developer,critic_score,user_score,year,total_sales
10839,10840,Gourmet Chef: Cook Your Way to Fame,Misc,E,DS,Ubisoft,NaN,NaN,NaN,2008.0,0.14
12704,12705,Wordmaster,Strategy,E,DS,"Destination Software, Inc",NaN,NaN,NaN,2008.0,0.09
20694,20695,SAS: Secure Tomorrow,Shooter,NR,PC,City Interactive,NaN,NaN,NaN,2008.0,0.00
21227,21228,My Baby and Me,Misc,E,Wii,Unknown,NaN,NaN,NaN,NaN,0.00
21724,21725,Abandoner,Adventure,NR,PC,Unknown,NaN,NaN,NaN,2004.0,0.00
25170,25171,Bounty Hunter,Action,NR,PC,Unknown,NaN,NaN,NaN,1999.0,0.00
29414,29415,Duludubi Star,Platform,NR,PC,Unknown,NaN,NaN,NaN,2007.0,0.00
30941,30942,Finkles Adventure,Puzzle,NR,Wii,Unknown,NaN,NaN,NaN,2014.0,0.00
33465,33466,Hidden Mysteries: Buckingham Palace,Puzzle,E,PC,Unknown,NaN,NaN,NaN,2011.0,0.00
34414,34415,istanbul Beyleri,Fighting,NR,PC,Unknown,NaN,NaN,NaN,2006.0,0.00
40434,40435,Panzer Elite General,Strategy,NR,PC,JoWood Productions,NaN,NaN,NaN,2001.0,0.00
41879,41880,Purrfect Pet Shop,Misc,NR,PC,eGames,NaN,NaN,NaN,2008.0,0.00
48148,48149,The Enchanted Unicorn,Adventure,E,PC,Take-Two Interactive,NaN,NaN,NaN,2008.0,0.00
48642,48643,The Orb & the Oracle,Role-Playing,NR,PC,Unknown,NaN,NaN,NaN,2009.0,0.00
50781,50782,VIVA Fighter,Role-Playing,NR,PC,Unknown,NaN,NaN,NaN,2012.0,0.00
54314,54315,My Friend Pedro,Shooter,NR,PC,Unknown,NaN,NaN,NaN,NaN,0.00
54315,54316,My Friend Pedro,Shooter,NR,NS,Unknown,NaN,NaN,NaN,NaN,0.00

In [21]:
#Gourmet Chef's developer is Ubisoft
df.loc[10839,'developer'] = 'Ubisoft'

In [22]:
#checking to make sure
df.loc[df.index==10839]

,rank,name,genre,esrb_rating,platform,publisher,developer,critic_score,user_score,year,total_sales
10839,10840,Gourmet Chef: Cook Your Way to Fame,Misc,E,DS,Ubisoft,Ubisoft,NaN,NaN,2008.0,0.14

In [23]:
#Wordmaster
df.loc[12704,'developer'] = 'Destination Software, Inc'

#SAS: Secure Tomorrow
df.loc[20694,'developer'] = 'City Interactive'

#My Baby and Me
df.loc[21227,'publisher'] = '505 Games'
df.loc[21227,'developer'] = '505 Games'

#Abandoner
df.loc[21724,'developer'] = 'Unknown'

#Bounty Hunter
df.loc[25170,'developer'] = 'Unknown'

#Duludubi Star
df.loc[29414,'publisher'] = 'Shenzhen Huaqiang'
df.loc[29414,'developer'] = 'Fantawild'

#Finkles Adventure
df.loc[30941,'publisher'] = 'Lexicon'
df.loc[30941,'developer'] = 'Lexicon'

#Hidden Mysteries: Buckingham Palace
df.loc[33465,'publisher'] = 'GameMill'
df.loc[33465,'developer'] = 'Big Fish'

#istanbul Beyleri
df.loc[34414,'developer'] = 'Unknown'

#Panzer Elite General
df.loc[40434,'developer'] = 'Unknown'

#Purrfect Pet Shop
df.loc[41879,'developer'] = 'eGames'

#The Enchanted Unicorn
df.loc[48148,'developer'] = 'Take-Two Interactive'

#The Orb and the Oracle
df.loc[48642,'publisher'] = 'GameMill'
df.loc[48642,'developer'] = 'Big Fish'

#VIVA Fighter
df.loc[50781,'developer'] = 'Unknown'

#My Friend Pedro
df.loc[54314,'publisher'] = 'Devolver Digital'
df.loc[54314,'developer'] = 'DeadToast'
df.loc[54315,'publisher'] = 'Devolver Digital'
df.loc[54315,'developer'] = 'DeadToast'

In [24]:
#onto the next
df.isna().sum()

rank                0
name                0
genre               0
esrb_rating         0
platform            0
publisher           0
developer           0
critic_score    49256
user_score      55457
year              979
total_sales         0
dtype: int64

In [25]:
df.dtypes

rank              int64
name             object
genre            object
esrb_rating      object
platform         object
publisher        object
developer        object
critic_score    float64
user_score      float64
year            float64
total_sales     float64
dtype: object

In [29]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
rank,55792.0,27896.500000,16105.907446,1.0,13948.75,27896.5,41844.25,55792.00
critic_score,6536.0,7.213709,1.454079,1.0,6.40,7.5,8.30,10.00
user_score,335.0,8.253433,1.401489,2.0,7.80,8.5,9.10,10.00
year,54813.0,2005.659095,8.355585,1970.0,2000.00,2008.0,2011.00,2020.00
total_sales,55792.0,0.188992,0.972131,0.0,0.00,0.0,0.07,82.86